*{
    margin: 0;
    padding: 0;
}

.ticket-container {
    text-align: center;
    font-family: Arial, sans-serif;
    border: 5px solid #ad1f1f;
    border-radius: 15px;
    width: 50%;
    margin: 50px auto;
}

.ticket {
    padding: 20px 0px;
    width: 300px;
    margin: 0px auto;
    margin-bottom: 5%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
img{
    height: 60px;
}
.title{
    margin: 5%;
    margin-bottom: 0px;
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: 5px solid rgb(21, 123, 163);
    color: rgb(199, 100, 25);
    font-family: cursive;
}

h2{
    color: rgb(65, 18, 232);
}

.last{
    margin-bottom: 5%;
}