:root {
    --button-color: rgb(186, 39, 223);
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    background-image: url("../Assets/images/home_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerbar {
    background-color: grey;
    height: 8vh;
    font-weight: 800;
    font-size: larger;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ------Added-------- */
.container {
    max-width: 800px;
    margin: 15px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: wheat;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: wheat;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.684);
    color: white;
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    display: block;
    padding: 10px;
    background-color: var(--button-color);
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: medium;
}

button:hover {
    background-color: rgb(118, 5, 146);
}

button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}

form {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}